openapi: 3.2.0
info:
  title: Shopback Orders API
  version: '1.0'
  description: 'Operations tagged Orders across 2 of this provider''s published API definitions: shopback-in-store-payments-openapi.yml, shopback-online-payments-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://integrations-sandbox.shopback.com
  description: Sandbox
- url: https://integrations-sandbox.shopback.com/demo/merchant
  description: staging environment
tags:
- name: Orders
paths:
  /posi-sandbox/v1/instore/order/{referenceId}/cancel:
    servers:
    - url: https://integrations-sandbox.shopback.com
      description: Sandbox
    post:
      tags:
      - Orders
      operationId: Cancel order
      summary: Cancel order
      description: Use this endpoint to cancel a payment before processing. Cancellations are not allowed once a customer has swiped-to-pay on ShopBack’s mobile application.
      parameters:
      - name: referenceId
        required: true
        in: path
        description: The unique payment attempt identifier generated by the POS terminal that was sent in the request to `POST /v1/instore/order/create` or `POST /v1/instore/order/scan`.
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'Header required for authorization. Specify the HMAC signature in the Authorization header along with `accessKeyId`.

          Please refer to **Generating an HMAC Signature** for a step by step guide to generating the Authorization signature.'
        required: true
        schema:
          example: SB1-HMAC-SHA256 <accessKeyId>:<hmacSignature>
          type: string
      - name: Date
        in: header
        description: The date and time of request in <a href=https://en.wikipedia.org/wiki/ISO_8601 target="_blank">ISO-8601</a> format. This should be the same value used in the generation of the HMAC signature
        required: true
        schema:
          type: string
          example: '2022-08-22T02:29:33.123Z'
      - name: X-ShopBack-Idempotent-Id
        in: header
        description: Idempotent Id for the request. If this is absent,  every request will be treated as unique and will be processed as such. (This is optional for now, but will be made required in the future)
        schema:
          example: faa5e09a-8cf3-43f7-8309-d94deb426e66
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxCancelOrderReqDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResDto'
        '400':
          description: ''
          content: {}
        '401':
          description: ''
          content: {}
        '404':
          description: ''
          content: {}
        '409':
          description: ''
          content: {}
      x-source-doc: https://docs.shopback.com/reference/cancel-order
  /posi-sandbox/v1/instore/order/create:
    servers:
    - url: https://integrations-sandbox.shopback.com
      description: Sandbox
    post:
      tags:
      - Orders
      operationId: Create dynamic QR order
      summary: Create order - QR / URL (dynamic)
      description: Use this endpoint to create an order to accept payment using ShopBack’s dynamic QR code or to accept payments for an in-store context through a customer-facing app or website. This endpoint creates a payment order with the dynamic QR code or relevant URL for redirect.
      parameters:
      - name: Authorization
        in: header
        description: 'Header required for authorization. Specify the HMAC signature in the Authorization header along with `accessKeyId`.

          Please refer to **Generating an HMAC Signature** for a step by step guide to generating the Authorization signature.'
        required: true
        schema:
          example: SB1-HMAC-SHA256 <accessKeyId>:<hmacSignature>
          type: string
      - name: Date
        in: header
        description: The date and time of request in <a href=https://en.wikipedia.org/wiki/ISO_8601 target="_blank">ISO-8601</a> format. This should be the same value used in the generation of the HMAC signature
        required: true
        schema:
          type: string
          example: '2022-08-22T02:29:33.123Z'
      - name: X-ShopBack-Idempotent-Id
        in: header
        description: Idempotent Id for the request. If this is absent,  every request will be treated as unique and will be processed as such. (This is optional for now, but will be made required in the future)
        schema:
          example: faa5e09a-8cf3-43f7-8309-d94deb426e66
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxCreateOrderReqDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResDto'
        '400':
          description: API Request could not be processed. This could be due to validation errors or invalid inputs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadReqDto'
        '401':
          description: Invalid signature. Failed to match HMAC signatures.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedDto'
        '404':
          description: Target resource(s) not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResDto'
        '409':
          description: Invalid ReferenceId. ReferenceId provided is already assigned to an existing resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResouceConflictDto'
      x-source-doc: https://docs.shopback.com/reference/create-dynamic-qr-order
  /posi-sandbox/v1/instore/order/{referenceId}:
    servers:
    - url: https://integrations-sandbox.shopback.com
      description: Sandbox
    get:
      tags:
      - Orders
      operationId: Get order status
      summary: Get order status
      description: Use this endpoint to check for the status and details of an order.
      parameters:
      - name: referenceId
        required: true
        in: path
        description: The unique payment attempt identifier generated by the POS terminal that was sent in the request to `POST /v1/instore/order/create` or `POST /v1/instore/order/scan`.
        schema:
          type: string
          example: 352c530dd7f747161a5e6c990c720bec
      - name: Authorization
        in: header
        description: 'Header required for authorization. Specify the HMAC signature in the Authorization header along with `accessKeyId`.

          Please refer to **Generating an HMAC Signature** for a step by step guide to generating the Authorization signature.'
        required: true
        schema:
          example: SB1-HMAC-SHA256 <accessKeyId>:<hmacSignature>
          type: string
      - name: Date
        in: header
        description: The date and time of request in <a href=https://en.wikipedia.org/wiki/ISO_8601 target="_blank">ISO-8601</a> format. This should be the same value used in the generation of the HMAC signature
        required: true
        schema:
          type: string
          example: '2022-08-22T02:29:33.123Z'
      - name: X-ShopBack-Idempotent-Id
        in: header
        description: Idempotent Id for the request. If this is absent,  every request will be treated as unique and will be processed as such. (This is optional for now, but will be made required in the future)
        schema:
          example: faa5e09a-8cf3-43f7-8309-d94deb426e66
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderDetailsResDto'
        '400':
          description: ''
          content: {}
        '401':
          description: ''
          content: {}
        '404':
          description: ''
          content: {}
        '409':
          description: ''
          content: {}
      x-source-doc: https://docs.shopback.com/reference/get-order-status
  /posi-sandbox/v1/instore/order/{referenceId}/refund:
    servers:
    - url: https://integrations-sandbox.shopback.com
      description: Sandbox
    post:
      tags:
      - Orders
      operationId: Order refund
      summary: Order refund
      description: Use this endpoint to refund captured orders with ShopBack.
      parameters:
      - name: referenceId
        required: true
        in: path
        description: The unique payment attempt identifier generated by the POS terminal that was sent in the request to `POST /v1/instore/order/create` or `POST /v1/instore/order/scan`.
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'Header required for authorization. Specify the HMAC signature in the Authorization header along with `accessKeyId`.

          Please refer to **Generating an HMAC Signature** for a step by step guide to generating the Authorization signature.'
        required: true
        schema:
          example: SB1-HMAC-SHA256 <accessKeyId>:<hmacSignature>
          type: string
      - name: Date
        in: header
        description: The date and time of request in <a href=https://en.wikipedia.org/wiki/ISO_8601 target="_blank">ISO-8601</a> format. This should be the same value used in the generation of the HMAC signature
        required: true
        schema:
          type: string
          example: '2022-08-22T02:29:33.123Z'
      - name: X-ShopBack-Idempotent-Id
        in: header
        description: Idempotent Id for the request. If this is absent,  every request will be treated as unique and will be processed as such. (This is optional for now, but will be made required in the future)
        schema:
          example: faa5e09a-8cf3-43f7-8309-d94deb426e66
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxRefundOrderReqDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundOrderResDto'
        '400':
          description: ''
          content: {}
        '401':
          description: ''
          content: {}
        '404':
          description: ''
          content: {}
        '409':
          description: ''
          content: {}
      x-source-doc: https://docs.shopback.com/reference/order-refund
  /posi-sandbox/v1/instore/order/scan:
    servers:
    - url: https://integrations-sandbox.shopback.com
      description: Sandbox
    post:
      tags:
      - Orders
      operationId: Scan consumer QR
      summary: Scan consumer QR
      description: Use this endpoint to create an order to initiate payment using ShopBack’s consumer-presented QR code.
      parameters:
      - name: Authorization
        in: header
        description: 'Header required for authorization. Specify the HMAC signature in the Authorization header along with `accessKeyId`.

          Please refer to **Generating an HMAC Signature** for a step by step guide to generating the Authorization signature.'
        required: true
        schema:
          example: SB1-HMAC-SHA256 <accessKeyId>:<hmacSignature>
          type: string
      - name: Date
        in: header
        description: The date and time of request in <a href=https://en.wikipedia.org/wiki/ISO_8601 target="_blank">ISO-8601</a> format. This should be the same value used in the generation of the HMAC signature
        required: true
        schema:
          type: string
          example: '2022-08-22T02:29:33.123Z'
      - name: X-ShopBack-Idempotent-Id
        in: header
        description: Idempotent Id for the request. If this is absent,  every request will be treated as unique and will be processed as such. (This is optional for now, but will be made required in the future)
        schema:
          example: faa5e09a-8cf3-43f7-8309-d94deb426e66
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxScanOrderReqDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResDto'
        '400':
          description: ''
          content: {}
        '401':
          description: ''
          content: {}
        '404':
          description: ''
          content: {}
        '409':
          description: ''
          content: {}
      x-source-doc: https://docs.shopback.com/reference/scan-consumer-qr
  /order/{uuid}:
    servers:
    - url: https://integrations-sandbox.shopback.com/demo/merchant
      description: staging environment
    get:
      tags:
      - Orders
      summary: Get order status
      operationId: getOrderInfo
      parameters:
      - name: Authorization
        in: header
        description: Authorization
        required: true
        schema:
          type: string
      - name: uuid
        in: path
        description: order uuid
        required: true
        schema:
          type: string
      - name: X-ShopBack-Idempotent-Id
        in: header
        description: Idempotent Id for the request. If this is absent,  every request will be treated as unique and will be processed as such. (This is optional for now, but will be made required in the future)
        schema:
          example: faa5e09a-8cf3-43f7-8309-d94deb426e66
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantOrderResponse'
        '404':
          description: Not Found, Merchant not found/Currency not found, No order found for provided uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '412':
          description: Precondition Failed, Provided token is invalid or expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error, Something went wrong on servers's end.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-source-doc: https://docs.shopback.com/reference/getorderinfo
  /order/initiate:
    servers:
    - url: https://integrations-sandbox.shopback.com/demo/merchant
      description: staging environment
    post:
      tags:
      - Orders
      summary: Create order
      description: This is where you can initiate an order with ShopBack, by using the **initiateOrder** method. We also provide a number of methods to refund orders. For example if the consumer returns one (or all) item(s) of an order, you can initiate a full or partial refund. You would be asked to send us the SKU number of the items to be refunded.
      operationId: initiateOrder
      parameters:
      - name: Authorization
        in: header
        description: Authorization
        required: true
        schema:
          type: string
      - name: X-ShopBack-Idempotent-Id
        in: header
        description: Idempotent Id for the request. If this is absent,  every request will be treated as unique and will be processed as such. (This is optional for now, but will be made required in the future)
        schema:
          example: faa5e09a-8cf3-43f7-8309-d94deb426e66
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/InitiateOnlineOrderRequest'
        required: false
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitiatedOrderResponse'
        '404':
          description: Not Found, Merchant not found/Currency not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '412':
          description: 'Precondition Failed.**Example of** possible error messages:

            * Provided token is invalid or expired

            * Order with requested external ids already exists

            * Consumer country is not supported for this operation

            * BillingAddress Country is not merchant supported

            * There was an error with the scanned QR code. Please ensure that you have scanned the correct QR code from our merchant partners.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error, Something went wrong on servers's end.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
      x-source-doc: https://docs.shopback.com/reference/initiateorder
  /order/{orderUuid}/refund:
    servers:
    - url: https://integrations-sandbox.shopback.com/demo/merchant
      description: staging environment
    post:
      tags:
      - Orders
      summary: Order refund
      operationId: initiateOrderRefund
      parameters:
      - name: orderUuid
        in: path
        description: order uuid
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization
        required: true
        schema:
          type: string
      - name: X-ShopBack-Idempotent-Id
        in: header
        description: Idempotent Id for the request. If this is absent,  every request will be treated as unique and will be processed as such. (This is optional for now, but will be made required in the future)
        schema:
          example: faa5e09a-8cf3-43f7-8309-d94deb426e66
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/PartialRefundRequestModel'
        required: false
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RRVResponseModel'
        '404':
          description: Not Found, Merchant not found/Currency not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '412':
          description: 'Precondition Failed.**Example of possible error messages:**

            * Provided token is invalid or expired

            * Unable to Refund Order in status [INITIATED]

            * This request has been accepted earlier, Unable to Refund Order in status [REFUNDED]

            * You are not permitted to perform this operation.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error, Something went wrong on servers's end.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
      x-source-doc: https://docs.shopback.com/reference/initiateorderrefund
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        statusCode:
          type: integer
          description: HTTP Status Code.
        errorId:
          type: string
          description: An error Id unique to the error received.
        errorMessages:
          type: array
          description: The reason why the error occured.
        name:
          type: string
          description: ShopBack system defined error name.
        errorCode:
          type: string
          description: ShopBack system defined error code.
        code:
          type: string
          description: ShopBack system defined error code.
        helpUrl:
          type: string
          description: Information on where you can receive additional assistance from our wonderful support team.
    UnauthorizedDto:
      type: object
      properties:
        statusCode:
          type: number
          example: 401
        message:
          type: string
          example: Invalid signature. Failed to match HMAC signatures.
        traceId:
          type: string
          description: A unique identifier for this API response. This will be used for reconciliation as necessary.
          example: 0dc44317-1c4b-4b62-83a8-8997435511e4
      required:
      - statusCode
      - message
      - traceId
    OrderItemImageRequest:
      required:
      - imageLocation
      type: object
      properties:
        imageLocation:
          type: string
          description: ImageLocation
          example: https://homepages.cae.wisc.edu/~ece533/images/serrano.png
    NotFoundResDto:
      type: object
      properties:
        statusCode:
          type: number
          example: 404
        message:
          type: string
          example: Invalid posId. Unable to find matching posId.
        traceId:
          type: string
          description: A unique identifier for this API response. This will be used for reconciliation as necessary.
          example: 0dc44317-1c4b-4b62-83a8-8997435511e4
      required:
      - statusCode
      - message
      - traceId
    PartialRefundItemRequestModel:
      required:
      - sku
      type: object
      properties:
        sku:
          type: string
          description: Store keeping unit at the merchant level. Needed to link requests with specific order items.
          example: '93847598347'
    BadReqDto:
      type: object
      properties:
        statusCode:
          type: number
          example: 400
        message:
          type: string
          example: Invalid referenceId. Please provide a string value.
        traceId:
          type: string
          description: A unique identifier for this API response. This will be used for reconciliation as necessary.
          example: 0dc44317-1c4b-4b62-83a8-8997435511e4
      required:
      - statusCode
      - message
      - traceId
    ResouceConflictDto:
      type: object
      properties:
        statusCode:
          type: number
          example: 409
        message:
          type: string
          example: Invalid ReferenceId. ReferenceId provided is already assigned to an existing resource.
        traceId:
          type: string
          description: A unique identifier for this API response. This will be used for reconciliation as necessary.
          example: 0dc44317-1c4b-4b62-83a8-8997435511e4
      required:
      - statusCode
      - message
      - traceId
    SandboxCancelOrderReqDto:
      type: object
      properties:
        reason:
          type: string
          description: The reason explaining cancellation.
          example: Incorrect amount
    PartialRefundRequestModel:
      required:
      - amount
      - description
      type: object
      properties:
        description:
          maxLength: 1024
          minLength: 0
          type: string
          description: Operation description
          example: Out of stock/Color is not fit to my bedroom
        refundedByEmail:
          maxLength: 1024
          minLength: 0
          type: string
          description: Refunded by email - coming from business.shopback.* portal
          example: user@email.com
        webhookUrl:
          maxLength: 1024
          minLength: 0
          type: string
          description: Webhook address - when operation will be done specified endpoint will be invoked
          example: https://mystore.com/shopback/hooks
        amount:
          type: number
          description: Amount to refund
        items:
          type: array
          description: Optional list of order items to be refunded
          items:
            $ref: '#/components/schemas/PartialRefundItemRequestModel'
    InitiateOnlineOrderRequest:
      required:
      - billingAddress
      - currency
      - items
      - shippingAddress
      - totalAmount
      type: object
      properties:
        totalAmount:
          minimum: 1
          type: number
          description: Total amount of order, includes all items
        originalAmount:
          type: number
          description: Pre discount amount of order, includes all items
        voucherCode:
          type: string
          description: Any voucher code to be applied on order
          example: FLAT50
        discount:
          type: number
          description: The discount amount
          example: 10
        consumerEmail:
          type: string
          description: Consumer's email
          example: bruce.willis@shopback.com
        consumerPhoneNumber:
          type: string
          description: Consumer's Phone Number
          example: '+6512341234'
        callbackUrl:
          type: string
          description: The server to server payment notification (payment notification webhook). Refer [here](https://docs.shopback.com/docs/server-to-server-payment-notification-payment-notification-webhook) for more details
          example: http://merchant.com/order/193123123/callback
        closeUrl:
          type: string
          description: The URL to which merchant would like to redirect users once the charging is completed for failed transaction
          example: http://merchant.com/order/193123123/close
        returnToShopUrl:
          type: string
          description: The URL to which merchant would like to redirect users once transaction is completed for successful transaction
          example: http://merchant.com/order/193123123/returnToShop
        platformVersion:
          type: string
          description: Platform Version
          example: 12.2.3
        consumerPhoneNumberExtension:
          type: integer
          description: Consumer's country code
          format: int32
          example: 65
        consumerTitle:
          type: string
          description: Title of the consumer
          example: Mr
        consumerFirstName:
          type: string
          description: Consumer's First Name
          example: Bob
        consumerLastName:
          type: string
          description: Consumer's Last Name
          example: Mann
        consumerMiddleName:
          type: string
          description: Consumer's Middle Name
          example: John
        taxAmount:
          type: number
          description: Total tax for the order
        currency:
          type: string
          description: Currency of the order in the 3 figure code as per ISO 4217
          example: SGD
        shippingMethod:
          type: string
          description: Shipping method preferred for order
          example: NORMAL
          enum:
          - NORMAL
          - EXPRESS
          - PICKUP
          - FREE
          - MERCHANT_SPECIFIED
        shippingAddress:
          $ref: '#/components/schemas/ShippingAddressRequest'
        billingAddress:
          $ref: '#/components/schemas/BillingAddressRequest'
        items:
          type: array
          description: List of order items
          items:
            $ref: '#/components/schemas/OrderItemRequest'
        merchantRef:
          type: string
          description: Merchant order reference. This is the field that the merchant uses to identify the order from their side on. This field is deprecated. Please use cartId or merchantOrderId depending on your order creation strategy.
          example: abc1234xyz
        shippingAmount:
          type: number
          description: This field captures the shipping fees associated with the chosen shipping method
          example: 10
        merchantOrderId:
          type: string
          description: The final merchant order id. This is applicable for platforms which creates the order id as soon as the checkout process starts, for e.g. Woocommerce orders. Platforms such as Shopify does not create an order until the callback is triggered. Such platforms make use of an internal reference id, also called cart Id - use the field merchantRef for internal reference id.
        cartId:
          type: string
          description: Merchant's cart id. This field stores the merchant's card id value. This is the internal order reference number until the order is created at the merchant's store.
          example: abc1234xyz
        storeUuid:
          type: string
          description: Merchant's Online Store identifier at ShopBack side. If it is omitted latest created Online Store will be used
          example: 281ac28b-e785-429d-bf12-5a50e9db9377
        partner:
          description: Merchant information for ShopBack partner
          $ref: '#/components/schemas/PartnerMerchantInfoRequest'
    SandboxCreateOrderReqDto:
      type: object
      properties:
        posId:
          type: string
          description: Unique Id for the POS terminal given during onboarding.
          example: 802c987em7f747269a5e6c260c630kpl
        country:
          type: string
          description: Two-letter ISO country code according to <a href=https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2 target="_blank">ISO 3166-1 Alpha-2</a> standard.
          example: SG
          enum:
          - SG
          - HK
          - AU
          - MY
        amount:
          type: number
          description: 'Transaction amount as integer. A positive integer in the smallest currency unit. For example:

            * `SGD`: in cents. 1234 stands for S$12.34'
          example: 1234
        currency:
          type: string
          description: Currency that is associated with the payment amount. Specify the three-letter ISO currency code following <a href=https://en.wikipedia.org/wiki/ISO_4217 target="_blank">ISO 4217</a> standard, in UPPERCASE.
          enum:
          - SGD
          - HKD
          - AUD
          - MYR
          example: SGD
        referenceId:
          type: string
          description: A unique payment identifier generated by the POS terminal. This must be unique for every payment attempt.
          example: 352c530dd7f747161a5e6c990c720bec
        qrType:
          type: string
          description: Type of QR.
          enum:
          - base64
          - payload
          - url_payload
          example: base64
        partner:
          description: Merchant information for ShopBack partner. Please sort keys in alphabetical order during hmac generation.
          $ref: '#/components/schemas/PartnerMerchantInfoRequest'
        orderMetadata:
          description: Additional information for the order. Please sort keys in alphabetical order during hmac generation.
          $ref: '#/components/schemas/AdditionalOrderMetadata'
        webhookUrl:
          description: The url to which ShopBack partner wants to receive payment notification webhook.
      required:
      - posId
      - country
      - amount
      - currency
      - referenceId
      - qrType
    RRVResponseDetailsModel:
      required:
      - merchantFeeAmount
      - transactionFeeAmount
      type: object
      properties:
        transactionFeeAmount:
          type: number
          description: Transaction fee amount
        merchantFeeAmount:
          type: number
          description: Merchant fee amount
    SandboxScanOrderReqDto:
      type: object
      properties:
        posId:
          type: string
          description: Unique Id for the POS terminal given during onboarding.
          example: 802c987em7f747269a5e6c260c630kpl
        country:
          type: string
          description: Two-letter ISO country code according to <a href=https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2 target="_blank">ISO 3166-1 Alpha-2</a> standard.
          example: SG
          enum:
          - SG
          - HK
          - AU
          - MY
        amount:
          type: number
          description: 'Transaction amount as integer. A positive integer in the smallest currency unit. For example:

            * `SGD`: in cents. 1234 stands for S$12.34'
          example: 1234
        currency:
          type: string
          description: Currency that is associated with the payment amount. Specify the three-letter ISO currency code following <a href=https://en.wikipedia.org/wiki/ISO_4217 target="_blank">ISO 4217</a> standard, in UPPERCASE.
          enum:
          - SGD
          - HKD
          - AUD
          - MYR
          example: SGD
        referenceId:
          type: string
          description: A unique payment identifier generated by the POS terminal. This must be unique for every payment attempt.
          example: 352c530dd7f747161a5e6c990c720bec
        consumerQrPayload:
          type: string
          description: Payload of the consumer-presented QR code scanned
          example: 0101234567890128TECI
        partner:
          description: Merchant information for ShopBack partner. Please sort keys in alphabetical order during hmac generation.
          $ref: '#/components/schemas/PartnerMerchantInfoRequest'
        orderMetadata:
          description: Additional information for the order. Please sort keys in alphabetical order during hmac generation.
          $ref: '#/components/schemas/AdditionalOrderMetadata'
        webhookUrl:
          description: The url to which ShopBack partner wants to receive payment notification webhook.
      required:
      - posId
      - country
      - amount
      - currency
      - referenceId
      - consumerQrPayload
    InitiatedOrderResponse:
      required:
      - orderId
      type: object
      properties:
        orderContextToken:
          type: string
        orderId:
          type: integer
          format: int64
        orderUuid:
          type: string
    AdditionalOrderMetadata:
      type: object
      properties:
        terminalReference:
          type: string
          description: External POS terminal used for the order determined by the partner. Numbers only, letters only, or alphanumeric with a length of 5-36 with only hypen is allowed as a special character.
          example: TW001271r-CEalBMhQw
        merchantOrderReference:
          type: string
          description: External merchant's order reference to identify specific order. Numbers only, letters only, or alphanumeric with a length of 5-36  with only hypen is allowed as a special character.
          example: 7YaEQwQi-3c6aRCJbz0N
    CancelOrderResDto:
      type: object
      properties:
        traceId:
          type: string
          description: A unique identifier for this API response. This will be used for reconciliation as necessary.
          example: 0dc44317-1c4b-4b62-83a8-8997435511e4
        referenceId:
          type: string
          description: The unique payment attempt identifier generated by the POS terminal that was sent in the request to `POST /v1/instore/order/create` or `POST /v1/instore/order/scan`.
      required:
      - traceId
      - referenceId
    ShippingAddressRequest:
      type: object
      properties:
        line1:
          type: string
          description: line1 of address
          example: Blk 35 Mandalay Road
        line2:
          type: string
          description: line2 of address
          example: '# 13-37 Mandalay Towers'
        line3:
          type: string
          description: line3 of address
        suburb:
          type: string
          description: suburb
          example: Sentosa
        city:
          type: string
          description: city
          example: Malacca City
        province:
          type: string
          description: province
          example: Shanghai
        state:
          type: string
          description: state
          example: Selangor
        district:
          type: string
          description: District. A required field for addresses in Honk Kong, India, Indonesia, Pakistan
          example: New Delhi
        subDistrict:
          type: string
          description: Sub-District. This is an optional field for addresses in Indonesia - called Kecamatan in Indonesia.
          example: Kecamatan Walakaka
        municipality:
          type: string
          description: Municipality. This is an optional field for addresses in Japan, Philippines and India.
          example: Sapporo
        village:
          type: string
          description: Village. This is an optional field for addresses in Bengladesh, Pakistan and India.
          example: Kakran
        road:
          type: string
          description: Road. This is an optional field for addresses in Thailand.
          example: 111 Chaengwatthana Road
        county:
          type: string
          description: County. This is an optional field for addresses in Bangladesh - functionally same as Upazila/Thana, South Korea - functionally same as Gun, United Kingdom among other countries.
          example: Pudong
        viaName:
          type: string
          description: via route. This is an optional field for addresses in India.
          example: New Delhi
        taluk:
          type: string
          description: Taluk. This is an optional field for addresses in India.
          example: Meenachil Taluk
        postcode:
          type: string
          description: postcode
          example: '308215'
        countryCode:
          type: string
          description: countryCode
          example: SG
    CreateOrderResDto:
      type: object
      properties:
        referenceId:
          type: string
          description: The unique payment attempt identifier generated by the POS terminal that was sent in the request to `POST /v1/instore/order/create` or `POST /v1/instore/order/scan`.
        qrType:
          type: string
          description: Type of QR code returned, as specified in request.
          enum:
          - base64
          - payload
          - url_payload
          example: base64
        qrCode:
          type: string
          description: Dynamic QR code according to qrType.
          example: data:image/png;base64,iVBORw0KGgoAAAAN...
        traceId:
          type: string
          description: A unique identifier for this API response. This will be used for reconciliation as necessary.
          example: 0dc44317-1c4b-4b62-83a8-8997435511e4
        partner:
          description: Merchant information for ShopBack partner.
          $ref: '#/components/schemas/PartnerMerchantInfoRequest'
        orderMetadata:
          description: Additional information of the payment.
          $ref: '#/components/schemas/AdditionalOrderMetadata'
      required:
      - referenceId
      - qrType
      - qrCode
      - traceId
    SandboxRefundOrderReqDto:
      type: object
      properties:
        amount:
          type: number
          description: "The amount of refund being provided to the customer. This is provided as a positive integer in the smallest currency unit and should not be larger than the order amount. For example:\n\n    SGD: in cents. 1234 stands for S$12.34"
          example: 1234
        reason:
          type: string
          description: The reason for the refund.
          example: Wrong item charged
        referenceId:
          type: string
          description: The payment attempt identifier generated by the POS terminal that was sent in the request to `POST /v1/instore/order/create` or `POST /v1/instore/order/scan`.
          example: 352c530dd7f747161a5e6c990c720bec
        posId:
          type: string
          description: Unique Id of the POS terminal used for the refund.
        refundMetadata:
          description: Additional refund metadata for the order. Please sort keys in alphabetical order during hmac generation.
          $ref: '#/components/schemas/AdditionalrefundMetadata'
      required:
      - amount
      - referenceId
    PartnerMerchantInfoRequest:
      required:
      - merchantId
      type: object
      properties:
        merchantId:
          type: string
          description: Partner's unique merchant ID. This field is required if partner  field is provided
        merchantCategoryCode:
          type: number
          description: Merchant ISO 18245 category code determined by the partner
        merchantTradingName:
          type: string
          description: Trading name of the merchant to help with customer UX when completing  a purchase with ShopBack
        merchantEntityId:
          type: string
          description: Legally registered ID with the regulatory in country of registration
          example: UEN in Singapore
    RRVResponseModel:
      required:
      - code
      - message
      - status
      - type
      type: object
      properties:
        status:
          type: string
          description: Request processing status
          example: ACCEPTED, REJECTED, DONE, FAILED
          enum:
          - ACCEPTED
          - REJECTED
          - DONE
          - FAILED
        requestId:
          type: string
          description: Request identifier. Present only if request has been accepted.
          example: d04f56e9-412c-4e7a-8cb7-3f405ff96a13
        createdAt:
          type: string
          description: Request creation date-time in ISO-8601 date-time format. Present only if request has been accepted.
          format: date-time
          example: '2022-04-01T04:01:41.041Z'
        type:
          type: string
          description: Type of refund.
          example: FULL
          enum:
          - FULL
          - PARTIAL
        code:
          type: string
          description: Response code. Useful to extract error details.
          example: accepted, in_process, duplicated_request, invalid_order_status, no_active_merchant_fee_schema_found,  refund_amount_too_large, refund_limit_exceeded
        message:
          type: string
          description: Response message
          example: Request accepted
        details:
          $ref: '#/components/schemas/RRVResponseDetailsModel'
    BillingAddressRequest:
      type: object
      properties:
        line1:
          type: string
          description: line1 of address
          example: Blk 35 Mandalay Road
        line2:
          type: string
          description: line2 of address
          example: '# 13-37 Mandalay Towers'
        line3:
          type: string
          description: line3 of address
        suburb:
          type: string
          description: suburb
          example: Sentosa
        city:
          type: string
          description: city
          example: Malacca City
        province:
          type: string
          description: province
          example: Shanghai
        state:
          type: string
          description: state
          example: Selangor
        district:
          type: string
          description: District. A required field for addresses in Honk Kong, India, Indonesia, Pakistan
          example: New Delhi
        subDistrict:
          type: string
          description: Sub-District. This is an optional field for addresses in Indonesia - called Kecamatan in Indonesia.
          example: Kecamatan Walakaka
        municipality:
          type: string
          description: Municipality. This is an optional field for addresses in Japan, Philippines and India.
          example: Sapporo
        village:
          type: string
          description: Village. This is an optional field for addresses in Bengladesh, Pakistan and India.
          example: Kakran
        road:
          type: string
          description: Road. This is an optional field for addresses in Thailand.
          example: 111 Chaengwatthana Road
        county:
          type: string
          description: County. This is an optional field for addresses in Bangladesh - functionally same as Upazila/Thana, South Korea - functionally same as Gun, United Kingdom among other countries.
          example: Pudong
        viaName:
          type: string
          description: via route. This is an optional field for addresses in India.
          example: New Delhi
        taluk:
          type: string
          description: Taluk. This is an optional field for addresses in India.
          example: Meenachil Taluk
        postcode:
          type: string
          description: postcode
          example: '308215'
        countryCode:
          type: string
          description: countryCode
          example: SG
    OrderItemRequest:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: The name of the item
          example: radioactive man comic book
        quantity:
          type: integer
          description: Quantity of the item
          format: int32
        price:
          type: number
          description: Actual price of the item
        sku:
          type: string
          description: Store keeping unit at the merchant level
          example: '93847598347'
        ean:
          type: string
          description: The items EAN
        description:
          type: string
          description: Short description of the item
          example: radioactive man comic book
        detailedDescription:
          type: string
          description: Detailed description of the item
        originalPrice:
          type: number
          description: Pre discount amount of the item
        taxAmount:
          type: number
          description: Tax amount of the item
        images:
          type: array
          description: List of order item images
          items:
            $ref: '#/components/schemas/OrderItemImageRequest'
        merchantItemId:
          type: string
          description: The unique ID for each order item, if SKU is not explicitly used.
        warranty:
          type: number
          description: This field captures the warranty amount per order item
          example: 100
        discount:
          type: number
          description: This field captures the discount amount  per order item
          example: 10
    AdditionalrefundMetadata:
      type: object
      properties:
        terminalReference:
          description: External POS terminal used for the order determined by the partner. Numbers only, letters only, or alphanumeric with a length of 5-36 with only hypen is allowed as a special character.
          example: TW001271r-CEalBMhQw
    GetOrderDetailsResDto:
      type: object
      properties:
        traceId:
          type: string
          description: A unique identifier for this API response. This will be used for reconciliation as necessary.
          example: 0dc44317-1c4b-4b62-83a8-8997435511e4
        createdAt:
          format: date-time
          type: string
          description: The timestamp of the payment attempt creation time, according to <a href=https://en.wikipedia.org/wiki/ISO_8601 target="_blank">ISO-8601</a> format.
          example: '2022-08-01T02:29:33.123Z'
        updatedAt:
          format: date-time
          type: string
          description: The timestamp of the payment attempt's latest update, according to <a href=https://en.wikipedia.org/wiki/ISO_8601 target="_blank">ISO-8601</a> format.
          example: '2022-08-01T02:29:33.123Z'
        shopbackOrderId:
          type: string
          description: This is a unique ID generated by ShopBack, returned when the order status has reached either `CAPTURED` or `FAILED` from `PROCESSING`. This ID is displayed on the consumer ShopBack mobile app. Keeping track of this ShopBack Order ID on POS terminal displays can help with in-store refunds. This will also be displayed on ShopBack’s Merchant Portal.
          example: 220801-0679-YVUY
        referenceId:
          type: string
          description: The unique payment attempt identifier generated by the POS terminal that was sent in the request parameters.
          example: 352c530dd7f747161a5e6c990c720bec
        status:
          type: string
          description: "Order status provided by ShopBack.\n\n  | Status     | Description                                                                                                                                                               |\n  | ---------- | ------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n  | CREATED    | Order has been created.                                                                                                                                                   |\n  | PENDING    | The payment is pending action from the customer. This indicates that the customer has scanned the QR code on ShopBack’s mobile application but has not yet swiped to pay. |\n  | PROCESSING | The payment is being processed. This indicates that the customer has swiped to pay on ShopBack’s mobile application and the payment is being completed.                   |\n  | CANCELLED  | The order was cancelled before the customer swiped to pay.                                                                                                                |\n  | CAPTURED   | ShopBack has approved the payment and it has been successful.                                                                                                             |\n  | FAILED     | ShopBack has declined the payment (there could be a number of reasons including the customer’s underlying payment method not having a sufficient balance).                |\n  | REFUNDED   | Order has been refunded in full (refund amount equal to order amount).                                                                                                    |\n        "
          enum:
          - CREATED
          - PENDING
          - PROCESSING
          - CANCELLED
          - CAPTURED
          - FAILED
          - REFUNDED
          - ABANDONED
          example: CAPTURED
        orderAmount:
          type: number
          description: The original authorised amount of the order.
          example: 1000
        refundAmount:
          type: number
          description: 'Total refunded amount for order, only provided if there has been a successful refund. '
          example: 0
        failureReason:
          type: string
          description: Reason for order failure, only provided if an order failed.
          example: ''
        currency:
          type: string
          description: Currency that is associated with the payment amount. Specify the three-letter ISO currency code following <a href=https://en.wikipedia.org/wiki/ISO_4217 target="_blank">ISO-4217</a> standard, in UPPERCASE.
          example: SGD
        partner:
          description: Merchant information for ShopBack partner.
          $ref: '#/components/schemas/PartnerMerchantInfoRequest'
        orderMetadata:
          description: Additional information of the payment.
          $ref: '#/components/schemas/AdditionalOrderMetadata'
        paymentType:
          type: string
          description: Customer’s payment type. Populated for completed and refunded orders only.
          readOnly: true
          example: PAY
          enum:
          - PAYLATER
          - PAY
      required:
      - traceId
      - createdAt
      - updatedAt
      - shopbackOrderId
      - referenceId
      - status
      - orderAmount
      - refundAmount
      - currency
      - paymentType
    RefundOrderResDto:
      type: object
      properties:
        shopbackOrderId:
          type: string
          description: This is a unique ID generated by ShopBack, returned when the order status has reached either `CAPTURED` or `FAILED` from `PROCESSING`. This ID is displayed on the consumer ShopBack mobile app. Keeping track of this ShopBack Order ID on POS terminal displays can help with in-store refunds. This will also be displayed on ShopBack’s Merchant Portal.
          example: 220801-0679-YVUY
        referenceId:
          type: string
          description: The payment attempt identifier generated by the POS terminal that was sent in the request to `POST /v1/instore/order/create` or `POST /v1/instore/order/scan`.
        traceId:
          type: string
          description: A unique identifier for this API response. This will be used for reconciliation as necessary.
          example: 0dc44317-1c4b-4b62-83a8-8997435511e4
        posId:
          type: string
          description: Unique Id of the POS terminal used for the refund.
        refundMetadata:
          description: Additional refund metadata for the order.
          $ref: '#/components/schemas/AdditionalrefundMetadata'
      required:
      - shopbackOrderId
      - referenceId
      - traceId
    MerchantOrderResponse:
      required:
      - consumerEmail
      - createdAt
      - merchantOrderId
      - merchantRef
      - orderType
      - orderUuid
      - status
      - uuid
      - paymentType
      type: object
      properties:
        uuid:
          type: string
          description: Randomly generated order uuid
          readOnly: true
          example: 4d33044e-f182-4079-aee4-faa46fbf334e
        orderUuid:
          type: string
          description: Randomly generated order uuid. Same as uuid
          readOnly: true
          example: 4d33044e-f182-4079-aee4-faa46fbf334e
        createdAt:
          type: string
          description: Order creation time
          format: date-time
          readOnly: true
          example: '2019-01-28T10:56:28.995Z'
        status:
          type: string
          description: Order status provided to the merchant
          readOnly: true
          example: INITIATED
          enum:
          - INITIATED
          - APPROVED
          - CANCELLED
          - REJECTED
          - REFUNDED
        orderType:
          type: string
          description: Order type
          readOnly: true
          example: ONLINE
          enum:
          - INSTORE
          - ONLINE
        merchantRef:
          type: string
          description: Merchant's Order Id
          readOnly: true
          example: '#2020-82445'
        merchantOrderId:
          type: string
          description: Merchant's Order Id. Same as merchantRef
          readOnly: true
          example: '#2020-82445'
        consumerEmail:
          type: string
          description: Consumer's email
          readOnly: true
          example: bruce.willis@shopback.com
        paymentMethod:
          type: string
          description: Customer’s payment method. Populated for completed and refunded orders only. This field is deprecated.
          readOnly: true
          example: PAYLATER
          enum:
          - PAYLATER
          - PAY
        paymentType:
          type: string
          description: (NOT LIVE YET) Customer’s payment type. Populated for completed and refunded orders only.
          readOnly: true
          example: PAYLATER
          enum:
          - PAYLATER
          - PAY
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Merchant JWT obtained from POST /merchant-gateway/auth/login.
x-refined-from:
- shopback-in-store-payments-openapi.yml
- shopback-online-payments-openapi.yml
x-apievangelist-assembly:
  method: searched
  note: Assembled verbatim from the per-operation OpenAPI definitions ShopBack publishes on each API reference page of docs.shopback.com (ReadMe .md export). No content was authored or altered; path items, schemas and security schemes are exactly as published.
  fetched: '2026-08-02'
  index: https://docs.shopback.com/llms.txt
  sources:
  - https://docs.shopback.com/reference/cancel-order.md
  - https://docs.shopback.com/reference/create-dynamic-qr-order.md
  - https://docs.shopback.com/reference/get-order-status.md
  - https://docs.shopback.com/reference/notification-1.md
  - https://docs.shopback.com/reference/order-refund.md
  - https://docs.shopback.com/reference/scan-consumer-qr.md
  http_status: 200
